<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- magic line: ties to spring logging.file property -->
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d %clr(%-5p) %clr(%-35logger{5}){cyan} - %-60msg%n
            </Pattern>
        </encoder>
    </appender>


    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE}</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d %clr(%-5p) %clr(%-35logger{5}){cyan} - %-60msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="SYSLOG-EAST" class="ch.qos.logback.classic.net.SyslogAppender">
        <!--Need to change this-->
        <syslogHost>127.0.0.1</syslogHost>
        <facility>LOCAL7</facility>
        <port>514</port>
        <throwableExcluded>true</throwableExcluded>
        <suffixPattern>%msg</suffixPattern>
    </appender>

    <appender name="SYSLOG-WEST" class="ch.qos.logback.classic.net.SyslogAppender">
        <!--Need to change this-->
        <syslogHost>127.0.0.1</syslogHost>
        <facility>LOCAL7</facility>
        <port>514</port>
        <throwableExcluded>true</throwableExcluded>
        <suffixPattern>%msg</suffixPattern>
    </appender>


    <root level="WARN">
        <appender-ref ref="FILE"/>
        <appender-ref ref="SYSLOG-EAST" />
        <appender-ref ref="SYSLOG-WEST" />
        <appender-ref ref="STDOUT" />
    </root>

    <!--<logger name="net.es.oscars" level="debug"/>-->
    <logger name="org.hibernate.tool.hbm2ddl.SchemaExport" level="off" />
    <logger name="org.apache.cxf.services" level="INFO" />
    <logger name="io.undertow.websockets.jsr" level="ERROR" />

    <logger name="net.es.oscars.app.syslog" additivity="false" level="INFO">
        <appender-ref ref="SYSLOG-EAST" />
        <appender-ref ref="SYSLOG-WEST" />
    </logger>

    <logger name="net.es.oscars" additivity="false" level="INFO">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="net.es.oscars" additivity="false" level="INFO">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.springframework" level="ERROR">
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>
