[Unit]
Description=OSCARS backend service process
After=postgresql.service
Requires=postgresql.service

[Service]
Type=simple
User=nobody
Group=nobody
WorkingDirectory=/usr/local/esnet/oscars-backend
ExecStart=/usr/bin/java -jar /usr/local/esnet/oscars-backend/lib/backend.jar
KillMode=process
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
