[Unit]
Description=OSCARS PSS service process
After=postgresql.service
Requires=postgresql.service

[Service]
Type=simple
User=nobody
Group=nobody
WorkingDirectory=/usr/local/esnet/oscars-pss
ExecStart=/usr/bin/java -jar /usr/local/esnet/oscars-pss/lib/pss.jar
KillMode=process
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
